*.o
.deps
.svn
stamp-h1
Makefile
autom4te.cache
compile
config.h
config.log
config.status
configure
dosbox
Makefile.in
aclocal.m4
config.guess
config.h.in
config.sub
depcomp
lib*.a
install-sh
missing
